/*リセットCSS*/
ul{
    display: inline-block;
    margin:0;
    padding:0; 
}
li{ 
    margin:0;
    list-style: none;
} 
body{
    margin:0;
    padding:0;
}
p{
  margin:0;
}


/*メインCSS*/

@import url('https://fonts.googleapis.com/css?family=Mukta+Malar:400,800');

html{
    color: #e85658;
    font-size: 100%;
    font-family: '游ゴシック体','YuGothic','游ゴシック Medium','Yu Gothic Medium','游ゴシック','Yu Gothic','ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN','メイリオ',sans-serif;
    font-weight: 400;
    line-height: 2.8;
    letter-spacing: 0.1em;
}

a {
    text-decoration:none;
    }

a:link{
    color: #d81619;
}
a:visited{
    color: #f46a3c;
}
a:hover{ 
    color:  #e7b23f;
}
a:active{ 
    color: #fd8599;
}

h1 {
    margin: 1em 0;
    font-size: 100%;
    font-weight: normal;
}

h2 {
    margin: 1em 0;
    font-size: 100%;
    font-weight: normal;
}
h3 {
    margin: 1em 0;
    font-size: 100%;
    font-weight: normal;
}

main a.h_mail{
    font-size: 120%;
    width:15px;
    margin:10px 20px;
    position: fixed;
    top:0;
    z-index:3;
}

#concept{
    width: 100%;
    height: 700px;
    
}
.main_logo{
    height: 70%;
    max-height: 500px;
    min-height: 450px;
    text-align: center;
    margin: 60px;
    position: relative;
}
.logo_wmc{
    margin:0 auto;
}
.logo_wmc img{
    max-width: 230px;
    min-width: 190px;
}

.logo_circle{
    margin:0 auto;
}
.logo_circle img{
    max-width: 190px;
    min-width: 130px;
}


.main_logo .logo_r{
    margin:0 auto;
    max-width: 230px;
    min-width: 190px;
}

.logo_v{
    margin: 0 auto;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 2; 
   
}
.logo_v img{
    max-width: 90px;
    min-width: 50px;
}
.wrap{
     margin: 10px;
}

.ver_text{
    margin:0 auto;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
    
#value{
    width: 100%;
    height: auto;
    position: relative;
    margin: 120px 0;
    }

.route{
    text-align: center;
    margin: 200px 0 120px 0;
}
.route img{
    width:1%;
    max-width: 10px;
    min-width: 7px;
}
.value_point{
    width:100%;
    position: relative;
    text-align: center;
    display: block;
    }

.value_point img{
    width:35%;
    max-width: 370px;
    min-width:300px;
    margin: 20px 0 50px;
}

#skille{
    width: 100%;
    height: auto;
    position: relative;
}
.skill_sv{
    margin:auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.skill_sv p{
    margin: 10px;
    padding: 30px 40px;
    width: 235px;
    border: solid 2px  #fde7e7;
}
.skill_sv p span{
    font-size: 100%;
    font-weight: bold;
}
.skille_list{
    margin:60px auto;
    max-width: 900px;
    min-width: 300px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    
}
.skille_list li{
    width:120px;
    margin:20px;
}
.skille_list li p{
    padding-top: 20px;
    line-height: 1.2;
    line-height: 1.5;
    
}

.skille_list li div{
    position: relative;
    padding: 50%;
    border-radius: 50%;
}
.skille_list li div span {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width :100%;
    font-family: 'Mukta Malar', sans-serif;
    font-size: 250%;
    text-align:center;
    color: #fff;
}
.skille_list li div span .icon{
    width: 60%;
    margin-top: 40%;
}

.skille_list .ai{
    background: linear-gradient(-45deg,#f8b45b 0%,#f8b45b 50%,#ffc06e 50%,#ffc06e 100%);
}
.skille_list .ps{
    background: linear-gradient(-45deg,#6c91fb 0%,#6c91fb 50%,#8ca9fd 50%,#8ca9fd 100%);
}
.skille_list .xd{
    background: linear-gradient(-45deg,#fd7fc9 0%,#fd7fc9 50%,#fd95d2 50%,#fd95d2 100%);
}
.skille_list .ae{
    background: linear-gradient(-45deg,#d87ffd 0%,#d87ffd 50%,#e29cff 50%,#e29cff 100%);
}
.skille_list .pre{
    background: linear-gradient(-45deg,#db75ee 0%,#db75ee 50%,#d891e5 50%,#d891e5 100%);
}
.skille_list .html{
    background: linear-gradient(-45deg,#d9babc 0%,#d9babc 50%,#dec6c7 50%,#dec6c7 100%);
}
.skille_list .css{
    background: linear-gradient(-45deg,#d9babc 0%,#d9babc 50%,#dec6c7 50%,#dec6c7 100%);
}
.skille_list .vs{
    background: linear-gradient(-45deg,#9dc468 0%,#9dc468 50%,#c1db90 50%,#c1db90 100%);
}
.skille_list .ph{
    background: linear-gradient(-45deg,#9dc468 0%,#9dc468 50%,#c1db90 50%,#c1db90 100%);
}
.skille_list .il{
    background: linear-gradient(-45deg,#9dc468 0%,#9dc468 50%,#c1db90 50%,#c1db90 100%);
}

#plofile{
    max-width: 900px;
    min-width: 300px;
    height: auto;
    margin: 0 auto 120px;
    }
#plofile .ver_text{
    margin: 80px auto 40px;
}
.ver_text2{
    border-top: solid 2px  #fde7e7;
    border-bottom: solid 2px  #fde7e7;
    padding-top:40px;
    padding-bottom:40px;
    margin: 0 auto;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
    
.name{
    font-size:1.25rem;
    line-height: 1.8;
}

.career{
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

footer{
    margin:20px;
    text-align: center;
    
}
.Copyright{
    font-size: 70%;
}

@media screen and (max-width: 415px){

.logo_wmc {
    margin: 45px auto 0;
}

#plofile {
    width:90%;
    margin: auto;
    padding: 10px;
    height: auto;
    }

#plofile .ver_text2 p .career{
    width:80%;
    margin:20px;
   
}
.skille_list li{
    width:80px;
    margin:30px;
}
.skille_list li div span .icon{
    margin-top: 55%;
}