/*リセットCSS*/
ul{
    display: inline-block;
    margin:0;
    padding:0; 
}
li{ 
    margin:0;
    list-style: none;
} 
body{
    margin:0;
    padding:0;
}


/*メインCSS*/

html{
    color: #e85658;
    font-size: 100%;
    font-family: '游ゴシック体','YuGothic','游ゴシック Medium','Yu Gothic Medium','游ゴシック','Yu Gothic','ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN','メイリオ',sans-serif;
    font-weight: 400;
    line-height: 2.8;
    letter-spacing: 0.1em;
}

a {
    text-decoration:none;
    }

a:link{
    color: #d81619;
}
a:visited{
    color: #f46a3c;
}
a:hover{ 
    color:  #e7b23f;
}
a:active{ 
    color: #fd8599;
}

h1 {
    margin: 1em 0;
    font-size: 100%;
    font-weight: normal;
}

h2 {
    margin: 1em 0;
    font-size: 100%;
    font-weight: normal;
}
h3 {
    margin: 1em 0;
    font-size: 100%;
    font-weight: normal;
}

main a.h_mail{
    font-size: 120%;
    width:15px;
    margin:10px 20px;
    position: fixed;
    top:0;
    z-index:3;
}

#concept{
    width: 100%;
    height: 700px;
    position: relative;
    
}
.main_logo{
    height: 440px;
    text-align: center;
    position: relative;
}

.mainlogo01{
    margin: 65px auto 0;
}
.mainlogo01 img{
    max-width: 25%;
}

.mainimg01{
    margin: 0 auto;
    z-index: 1;
}
.mainimg01 img{
   max-width: 16%;
}

.mainlogo02{
    margin: 0 auto;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 2; 
   
}
.mainlogo02 img{
    max-width: 45%;
}

.ver_text{
    margin:0 auto;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
    
#value{
    width: 100%;
    height: auto;
    position: relative;
    margin: 80px 0;
    }
.route{
    margin:20px;
    text-align: center;
}
.route img{
    max-width: 1%;
}

.value_point{
    width:100%;
    position: relative;
    text-align: center;
    display: block;
    }

.value_point img{
    max-width: 35%;
    margin: 80px 0 50px;
}

#skille{
    width: 100%;
    height: auto;
    position: relative;
}
.skill_sv{
    margin:auto;
    width:70%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.skill_sv p{
    margin: 10px;
    padding: 30px 40px;
    width: 235px;
    border: solid 2px  #fde7e7;
}
.skill_sv p{
    line-height: 1.9;
    font-size: 95%;
}
.skill_sv p span{
    font-size: 100%;
    font-weight: bold;
}
.skille_list{
    margin:60px auto;
    width:60%;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    
}
.skille_list li{
    width:100px;
    margin:5px 30px;
    letter-spacing: 0;
}
.skille_list li img{
    max-width: 80%;
}

#plofile{
    width: 100%;
    height: 500px;
    margin: 180px auto 0;
    position: relative;
    display: flex;
    -webkit-flex-direction: row-reverse;
   flex-direction: row-reverse;
    }
.name{
    font-size:1.25rem;
    line-height: 1.8;
}

.career{
    font-size: 0.9rem;
    line-height: 1.8;
    padding-right: 20px;
}

footer{
    margin:20px;
    text-align: center;
    
}
.Copyright{
    font-size: 70%;
}


@media screen and (max-width: 415px){

#concept {
        height: 600px;
}
.mainlogo01 {
    margin: 45px auto 0;
}
.mainlogo01 img{
    max-width: 60%;
}
.mainimg01 img{
    max-width: 45%;
 }
.value_point img{
        max-width: 80%;
}
.route img{
    max-width: 2%;
}
.skille_list{
    width:90%;
}
.skill_sv{
    width: 90%;
}
.skille_list li{
    margin: 5px 15px;
}
#plofile {
    width:90%;
    margin: auto;
    padding: 10px;
    height: auto;
    }
#plofile .ver_text{
    column-count:2;
}




}